:root {
    --color-bg-secondary: #333;
    --color-bg: #222;
    --color-primary: #2f64e1;
    --color-secondary: #ddd;
    --font-a: "GothamRounded";
    --font-b: "GothamXNarrow";
}
@font-face {
    font-family: "GothamRounded";
    src: url("/assets/gothamrnd_medium.woff2");
}
@font-face {
    font-family: "GothamXNarrow";
    src: url("/assets/Gotham XNarrow Medium.woff2");
}

body {
    background-color: var(--color-bg);
    color: var(--color-secondary);
    font-family: var(--font-b);
    margin: 0;
}

h1 {
    color: var(--color-primary);
    font-family: var(--font-a);
}

button {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--font-a);
    margin: 1em 0 0 0;
    border-radius: 4em;
    padding: .5em;
    font-size: 1em;
    border: 0;
}
.text-primary {
    color: var(--color-primary);
    font-family: var(--font-a);
}
a {
    color: var(--color-secondary);
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-bg-secondary);
    font-size: 1em;
}
nav * {
    color: var(--color-secondary) !important;
    text-decoration: none !important;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 1em;
}
nav li {
    list-style: none;
    margin: auto 0 .1em 1em;
    font-family: var(--font-b);
}
nav li:first-child {
    font-family: var(--font-a);
    font-size: 1.2em;
    margin: 0;
}

*[hidden] {
    display: none !important;
}