@import url("/assets/vars.css");
body {
    background-image: url("/assets/circuit.png");
    background-size: 20em;
    max-height: 100vh;
    overflow: scroll;
}

main {
    padding: 2em;
    padding-top: 1em;
    margin: 8em auto 5em auto;
    width: 40em;
    background-color: var(--color-bg);
    overflow-y: scroll;
}
.map_tile {
    background-color: var(--color-bg-secondary);
    padding: 1em;
    border-radius: 1em;
    width: 30em;
    transition: ease-in-out 50ms;
    display: flex;
    align-items: center;
    flex-direction: column;
}.map_tile:hover {
    transform: scale(1.05);
}
#maps_container {
    display: flex;
    gap: 1.5em;
}
